@import "tailwindcss";
@plugin "tailwindcss-animate";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Full dark by default */
html,
body,
#root {
  height: 100%;
}
body {
  @apply bg-slate-900 text-slate-100;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
