# deps & build
node_modules/
client/node_modules/
dist/
client/dist/
npm-debug.log*
pnpm-lock.yaml 
yarn.lock      

# env & secrets
.env
.env.*
!.env.example       

# prisma/generated
node_modules/.prisma/
prisma/*.db
prisma/dev.db

# editor/OS
.vscode/
.idea/
.DS_Store

# docker artifacts
docker-data/
*.tar
