# deps & build
node_modules/
client/node_modules/
dist/
client/dist/
npm-debug.log*
pnpm-lock.yaml # (kalau tidak dipakai)
yarn.lock      # (kalau tidak dipakai)

# env & secrets
.env
.env.*
!.env.example        # hanya contoh, tanpa nilai rahasia

# prisma/generated
node_modules/.prisma/
prisma/*.db
prisma/dev.db

# editor/OS
.vscode/
.idea/
.DS_Store

# docker artifacts
docker-data/
*.tar
